@model EstudianteViewModel

@{
    ViewData["Title"] = "Estudiante";
}

<h4 class="mt-4">Estudiante</h4>

@if (Model.Estudiantes is not null)
{
    <table class="table table-hover mt-4">
        <thead>
            <tr class="text-center">
                <th>Foto</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Matricula</th>
                <th>Fecha Nacimiento</th>
                <th>Estatus</th>
                <th>Grupo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estudiante in Model.Estudiantes)
            {
                <tr class="text-center">
                    <td>
                        <img style="width: 40px; height: 40px; border-radius: 100%;" src="@estudiante.Fotografia">
                    </td>
                    <td>@estudiante.Nombre</td>
                    <td>@estudiante.Apellido1</td>
                    <td>@estudiante.Apellido2</td>
                    <td>@estudiante.Matricula</td>
                    <td>@estudiante.FechaNacimiento</td>
                    <td>@(estudiante.Activo ? "Activo" : "Inactivo")</td>
                    <td>@estudiante.Grupo</td>
                    <td>
                        <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@estudiante.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
