@model CarreraProfesionalViewModel

@{
    ViewData["Title"] = "Carrera profesional";
}

<h4 class="mt-4">Carreras profesionales</h4>

@if (Model.CarrerasProfesionales is not null)
{
    <table id="carreras" class="table table-hover mt-4">
        <thead>
            <tr class="text-center">
                <th>Nombre</th>
                <th>Estatus</th>
                <th>Grado Académico</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carreraProfesional in Model.CarrerasProfesionales)
            {
                <tr class="text-center">
                    <td>@carreraProfesional.Nombre</td>
                    <td>@(carreraProfesional.Activo ? "Activo" : "Inactivo")</td>
                    <td>@carreraProfesional.GradoAcademico</td>
                    <td>
                      <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@carreraProfesional.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#carreras').DataTable();
          });
    </script>
}

