@model ProfesorViewModel

@{
    ViewData["Title"] = "Profesor";
}

<h4 class="mt-4">Profesores</h4>

@if (Model.Profesores is not null)
{
    <table class="table table-hover mt-4">
        <thead>
            <tr class="text-center">
                <th>Foto</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Correo</th>
                <th>Fecha Ingreso</th>
                <th>Estatus</th>
                <th>Division Academica</th>
                <th>Carrera Profesional</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profesor in Model.Profesores)
            {
                <tr class="text-center">
                    <td>
                      <img style="width: 40px; height: 40px; border-radius: 100%;" src="@profesor.Fotografia">
                    </td>
                    <td>@profesor.Nombre</td>
                    <td>@profesor.Apellido1</td>
                    <td>@profesor.Apellido2</td>
                    <td>@profesor.CorreoElectronico</td>
                    <td>@profesor.FechaIngreso</td>
                    <td>@(profesor.Activo ? "Activo" : "Inactivo")</td>
                    <td>@profesor.DivisionAcademica</td>
                    <td>@profesor.CarreraProfesional</td>
                    <td>
                      <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@profesor.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
