@model DivisionAcademicaViewModel

@{
    ViewData["Title"] = "División Académica";
}

<h4 class="mt-4">Divisiones académicas</h4>

@if (Model.DivisionesAcademicas is not null)
{
    <table class="table table-hover mt-4">
        <thead>
            <tr class="text-center">
                <th>Nombre</th>
                <th>Estatus</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var division in Model.DivisionesAcademicas)
            {
                <tr class="text-center">
                    <td>@division.Nombre</td>
                    <td>@(division.Activo ? "Activo" : "Inactivo")</td>
                    <td>
                      <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@division.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
