@model GrupoEstudianteViewModel

@{
    ViewData["Title"] = "Grupo Estudiante";
}

<h4 class="mt-4">Grupo Estudiante</h4>

@if (Model.GrupoEstudiantes is not null)
{
    <table class="table table-hover mt-4">
        <thead>
            <tr class="text-center">
                <th>Cuatrimestre</th>
                <th>Estatus</th>
                <th>Grupo</th>
                <th>Generacion</th>
                <th>Carrera Ofertada</th>
                <th>ProfesorTutor</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grupo in Model.GrupoEstudiantes)
            {
                <tr class="text-center">
                    <td>@grupo.Cuatrimestre</td>
                    <td>@(grupo.Activo ? "Activo" : "Inactivo")</td>
                    <td>@grupo.Grupo</td>
                    <td>@grupo.Generacion</td>
                    <td>@grupo.CarreraOfertada</td>
                    <td>@grupo.ProfesorTutor</td>
                    <td>
                        <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@grupo.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
